
<h3>QUESTION</h3>
<%= params[:question] %>
<!-- params "de question" retourne ce qu'on a dans l'url -->
<h3>ANSWER</h3>
<%= @answer %>

<p><%= link_to "Ask another question to the coach", ask_path %></p>

